<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recife</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/partials/cidades/cidades.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global/global.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo/favicon_verde.png') }}" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header"></header>
    
    <div class="banner">
        <div class="city-banner">
            <img src="{{ url_for('static', filename='images/cidades/Sao_Raimundo_Nonato_01.jpg') }}" alt="sao_raimundo_nonato">
            <div class="city-name">SÃO RAIMUNDO NONATO</div>
        </div>
        <div class="city-description">
            <p>São Raimundo Nonato é um município localizado no sul do Piauí e é porta de entrada para o Parque Nacional da Serra da Capivara, um dos mais importantes sítios arqueológicos do mundo. É conhecido pelas pinturas rupestres pré-históricas e paisagens naturais únicas.</p>
        </div>
        <div class="city-buttons">
            <a href="{{ url_for('como_chegar', estado='piaui', cidade='sao_raimundo_nonato')}}" class="button-link">
                <img src="{{ url_for('static', filename='images/icons/location-white.svg') }}" alt="Como chegar"> Como chegar
            </a>
            <a href="{{ url_for('pontos_turisticos', estado='piaui', cidade='sao_raimundo_nonato') }}" class="button-link">
              <img src="{{ url_for('static', filename='images/icons/places-white.svg') }}" alt="Pontos turísticos"> Pontos Turísticos
          </a>
        <a href="{{ url_for('atividades', estado='piaui', cidade='sao_raimundo_nonato') }}" class="button-link">
              <img src="{{ url_for('static', filename='images/icons/calendar-white.svg') }}" alt="Atividades"> Atividades
          </a>
        <a href="{{ url_for('dicas', estado='piaui', cidade='sao_raimundo_nonato') }}" class="button-link">
              <img src="{{ url_for('static', filename='images/icons/lampada-white.svg') }}" alt="Dicas"> Dicas
            </a>
        </div>
    </div>
    
    <section id="feedback-section">
        <div class="part1">
            <h2>Feedback dos Usuários em São Raimundo Nonato</h2>
            <hr class="divider-line">
        </div>

        {% for f in feedbacks %}
        <div class="part2">
            <div class="part2-1">
                <div class="user-info">
                    <img class="user" src="{{ url_for('static', filename='images/icons/user1.png') }}">
                    <div class="user-data">
                        <h3>{{ f.autor.nome }}</h3>
                        <p>{{ f.data.strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
                <img class="like" src="{{ url_for('static', filename='images/confirm/like.png') }}">
            </div>
            <div class="part2-2">
                <p><strong>{{ f.titulo }}</strong><br>{{ f.descricao }}</p>
            </div>
        </div>
        {% endfor %}

        {% if session.get('usuario_id') %}
        <div class="feedback-form">
            <h3>Deixe seu Feedback</h3>
            <form method="POST" action="{{ url_for('cidade', nome_cidade='sao_raimundo_nonato') }}">
                <input type="hidden" name="cidade" value="sao_raimundo_nonato">

                <input type="hidden" name="estado" value="piaui">
                
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" placeholder="Digite um título" required>

                <label for="descricao">Seu Feedback:</label>
                <textarea id="descricao" name="descricao" rows="4" placeholder="Escreva seu feedback" required></textarea>

                <button type="submit">Enviar Feedback</button>
            </form>
        </div>
        {% else %}
            <p><a href="{{ url_for('login') }}">Faça login</a> para enviar um feedback.</p>
        {% endif %}
    </section>


    <footer id="footer"></footer>

    <script src="{{ url_for('static', filename='js/cidades.js') }}"></script>
</body>
</html>