<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rotas Nordestinas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header">
        <a href="{{ url_for('home') }}" class="back-button"> VOLTAR</a>
        <img class="logo" src="{{ url_for('static', filename='images/logo/Rota.svg') }}" alt="Rotas Nordestinas">
        <button class="menu-button" id="menuButton">☰</button>
    </header>

    <div id="userSidebarWrapper" class="sidebar-wrapper">
        <div id="userSidebar" class="sidebar">
            <div class="sidebar-content">
                <button class="close-x-button" id="closeXButton">×</button>
                <div class="header">
                    <div class="profile-pic">
                        <span>{{ usuario.nome[0] }}{{ usuario.sobrenome[0] }}</span> <!-- Iniciais do usuário -->
                    </div>
                    <h2>{{usuario.nome}}</h2>
                    <p>Email: {{usuario.email}}</a></p>
                </div>
                <div class="options-container">
                    <a href="{{ url_for('home') }}" class="option"><i class="bx bx-home"></i><span>Início</span></a>
                    <a href="{{ url_for('favoritos') }}" class="option"><i class="bx bx-star"></i><span>Meus Favoritos</span></a>
                    <a href="{{ url_for('perfil') }}" class="option" id="editProfileButton"><i class="bx bx-user"></i><span>Meu Perfil</span></a>
                    <a href="{{ url_for('sugerir_rotas') }}" class="option"><i class="bx bx-map"></i><span>Sugerir Rota</span></a>
                </div>
                <div class="bottom-buttons">
                    <button class="support-button"><i class="bx bx-support"></i>Suporte</button>
                    <a href="{{url_for('logout')}}" class="close-button" id="closeButton"><i class="bx bx-log-out"></i>Sair</a>
                </div>
            </div>
        </div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>