
{% extends "base.html" %}

{% block title %}Rotas Nordestinas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/partials/main/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/components/toast.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/logo/favicon_verde.png') }}" type="image/png">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    

<main class="main">
    <section class="region">
        <h2>Pernambuco</h2>
        <div class="cities-grid">
            <a href="{{  url_for('cidade', nome_cidade='recife', estado='pernambuco') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Recife_01.jpg') }}">
                <span>Recife</span>
            </a>
            <a href="{{  url_for('cidade', nome_cidade='tamandare', estado='pernambuco') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Tamandare_01.jpg') }}">
                <span>Tamandaré</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='olinda', estado='pernambuco') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Olinda_01.jpeg') }}">
                <span>Olinda</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='caruaru', estado='pernambuco') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Caruaru_01.jpg') }}">
                <span>Caruaru</span>
            </a>
        </div>
    </section>
    <section class="region">
        <h2>Piauí</h2>
        <div class="cities-grid">
            <a href="{{ url_for('cidade', nome_cidade='parnaiba', estado='piaui') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Parnaiba_01.jpg') }}">
                <span>Parnaíba</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='teresina', estado='piaui') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Teresina_01.jpg') }}">
                <span>Teresina</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='barra_grande', estado='piaui') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Barra-Grande-do-Piauí_01.jpg') }}">
                <span>Barra Grande</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='sao_raimundo_nonato', estado='piaui') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Sao_Raimundo_Nonato_01.jpg') }}">
                <span>São Raimundo Nonato</span>
            </a>
        </div>
    </section>
    <section class="region">
        <h2>Bahia</h2>
        <div class="cities-grid">
            <a href="{{ url_for('cidade', nome_cidade='salvador', estado='bahia') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Salvador_01.jpeg') }}">
                <span>Salvador</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='porto_seguro', estado='bahia')}}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Porto-Seguro_01.jpg') }}">
                <span>Porto Seguro</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='ilheus', estado='bahia') }}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Ilheus_01.jpg') }}">
                <span>Ilhéus</span>
            </a>
            <a href="{{ url_for('cidade', nome_cidade='luis_eduardo', estado='bahia')}}" class="city-card" data-bg="{{ url_for('static', filename='images/cidades/Luis_Eduardo_01.jpg') }}">
                <span>Luís Eduardo</span>
            </a>
        </div>
    </section>
</main>


    {% endblock %}
    
    {% block extra_js %}
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script>
        const isPro = false; // Simular usuário Essencial
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const cityCards = document.querySelectorAll('.city-card');
            cityCards.forEach(card => {
                const bgUrl = card.getAttribute('data-bg');
                if (bgUrl) {
                    card.style.backgroundImage = `url('${bgUrl}')`;
                }
            });
        });
    </script>
    

    
{% endblock %}
